@{
    ViewBag.Title = "Welcome Page";
}
<style>
    header {
        padding: 30px 0 20px;
    }

    section {
        padding: 60px 0;
    }
</style>

<div>
    <header class="text-black">
        <div class="container text-center">
            <h1>Welcome to DrinkIT</h1>
            <p class="lead">The place where you can track your waternorm</p>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>About DrinkIT</h2>
                    <p class="lead">
                        Do you drink enough water?<br />
                        Do you know your waternorm?<br />
                        Do you control the amount of water you drink?<br />
                        We created <b>DrinkIT</b> - a water tracker to help you develop good habits of water drinking!<br>
                        Here is the benefits of drinking water:
                    </p>
                    <ul>
                        <li>Stay in shape and keep fit</li>
                        <li>Clears up your skin</li>
                        <li>Keeps your skin and nails healthy</li>
                        <li>Keeps you hydrated</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>