<head>
    <title>Sign-up</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<div class="form">
    <img src="css/images/logoDrinkIT.png" alt="DrinkLogo">
    <h3>Create your account</h3>
    <h5>Already have an account? <a href="" class="forget">Log in</a></h5>
     
        <div class="input-form">
            <input type="text" placeholder="First name" required>
        </div>
        <div class="input-form">
            <input type="text" placeholder="Last name" required>
        </div>
        <div class="input-form">
            <input type="text" placeholder="E-mail adress" required>
        </div>
         <div class="input-form">
            <input type="password" placeholder="Password" required>
        </div>
        <div class="input-form">
            <input type="password" placeholder="Confirm password" required>
        </div>
    
    <div>
        <label>Your password must contain at least 8 character and 1 digit</label>
    </div>
    <div class="input-form-button">
        <input type="submit" value="Go on">
    </div>
</div>