<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--	<title>Home</title>-->
<!--	<link rel="stylesheet"  href="../../Content/bootstrap_pages.css">-->
<!--    <link rel="stylesheet"  href="../../Content/style.css">-->
<!--</head>-->
<!--<div class="container">-->
<!--    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">-->
<!--        <img src="../../Content/images/logoDrinkIT.png" alt="logoDrinkIT" width="12%"></img>-->
<!--        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">-->
<!--            <li>-->
<!--                <a href="#" class="nav-link px-2 link-secondary mar">Home</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="http://localhost:49333/Drink" class="nav-link px-2 link-dark mar">Add drink</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="#" class="nav-link px-2 link-dark mar">Statistics</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="#" class="nav-link px-2 link-dark mar">Setting</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <div class="col-md-3 text-end">-->
<!--            <button type="button" class="btn btn-outline-primary me-2" onclick="location.href = 'http://localhost:49333/Account/Login';">Login</button>-->
<!--            <button type="button" class="btn btn-primary" onclick="location.href = 'http://localhost:49333/Account/Register';">Sign-up</button>-->
<!--        </div>-->
<!--    </header>-->
<!--</div>-->
<!--<div class="container elem">-->
<!--    <div class="firstdiv">-->
<!--        <div class="label">-->
<!--            <label>Today</label>-->
<!--        </div>-->
<!--        <div class="container elem">-->
<!--            <div class="firstdiv">-->
<!--                <label style="font-size: 16;">(your weight*30)ml</label>-->
<!--                <br>-->
<!--                <label style="font-size: 12;">Intake goal</label>-->
<!--            </div>-->
<!--            <div class="elem seconddiv">-->
<!--                <label style="font-size: 16;">500 ml</label>-->
<!--                <br>-->
<!--                <label style="font-size: 12;">Already drunk</label>-->
<!--            </div>-->
<!--        </div>-->

<!--        <img src="../../Content/images/waterdrops2.png" alt="waterdrops" class="waterdrops" width="60%" height="55%">-->
<!--        <div>-->
<!--            <button type="button" class=" btn-primary buttonAdd">Add drink</button>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="elem seconddiv">-->
<!--        <div class="label">-->
<!--            <label>History</label>-->
<!--        </div>-->
<!--        <div class="container block">-->
<!--            <img src="../../Content/images/check-mark2.png" alt="done">-->
<!--            <div class="firstblock">-->
<!--                <label style="font-size: 20;">water</label>-->
<!--                <br>-->
<!--                <label style="font-size: 12;">300 ml</label>-->
<!--            </div>-->
<!--            <div class="elem secondblock">-->
<!--                <label style="font-size: 18;">12:15</label>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="container block">-->
<!--            <img src="../../Content/images/check-mark2.png" alt="done">-->
<!--            <div class="firstblock">-->
<!--                <label style="font-size: 20;">milk</label>-->
<!--                <br>-->
<!--                <label style="font-size: 12;">100 ml</label>-->
<!--            </div>-->
<!--            <div class="elem secondblock">-->
<!--                <label style="font-size: 18;">13:44</label>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
