<head>
    <title>Add drink</title>
    <link rel="stylesheet" type="text/css" href="../../Content/bootstrap_pages.css">
    <link rel="stylesheet" type="text/css" href="../../Content/style.css">
</head>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <img src="../../Content/images/logoDrinkIT.png" alt="logoDrinkIT" width="12%"></img>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li>
                <a href="http://localhost:49333/" class="nav-link px-2 link-secondary mar">Home</a>
            </li>
            <li>
                <a href="http://localhost:49333/Drink" class="nav-link px-2 link-dark mar">Add drink</a>
            </li>
            <li>
                <a href="#" class="nav-link px-2 link-dark mar">Statistics</a>
            </li>
            <li>
                <a href="#" class="nav-link px-2 link-dark mar">Setting</a>
            </li>
        </ul>
        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2"
                    onclick="location.href = 'http://localhost:49333/Account/Login';">Login
            </button>
            <button type="button" class="btn btn-primary"
                    onclick="location.href = 'http://localhost:49333/Account/Register';">Sign-up
            </button>
        </div>
    </header>
</div>
<div class="container" style="text-align: center;">
    <h3>Menu</h3>
    <div class="container">
        <div class="container">
            <figure class="box">
                <p>Milk</p>
                <img src="../../Content/images/Beverages/milk.png" width="60px" height="60px">
            </figure>
            <figure class="box">
                <p>Water</p>
                <img src="../../Content/images/Beverages/water.png" width="60px" height="60px">
            </figure>
            <figure class="box">
                <p>Coffee</p>
                <img src="../../Content/images/Beverages/juice.png" width="60px" height="60px">
            </figure>
            <figure class="box">
                <p>Soda</p>
                <img src="../../Content/images/Beverages/soda.png" width="60px" height="60px">
            </figure>
        </div>

        <div class="container">
            <figure class="box">
                <p>Cocktail</p>
                <img src="../../Content/images/Beverages/cocktail.png" width="60px" height="60px">
            </figure>
            <figure class="box">
                <p>Beer</p>
                <img src="../../Content/images/Beverages/beer.png" width="60px" height="60px">
            </figure>
            <figure class="box">
                <p>Tea</p>
                <img src="../../Content/images/Beverages/tea.png" width="60px" height="60px">
            </figure>
            <figure class="box">
                <p>Juice</p>
                <img src="../../Content/images/Beverages/coffee.png" width="60px" height="60px">
            </figure>
        </div>
    </div>

    <div class="container box-set">
        <form>
            <input type="radio" id="50" name="amount" value="50">
            <label style=" font-size: 20" for="male">50ml</label>
            <input type="radio" id="100" name="amount" value="100">
            <label style=" font-size: 20" for="female">100ml</label>
            <input type="radio" id="150" name="amount" value="150">
            <label style=" font-size: 20" for="female">150ml</label>
            <input type="radio" id="200" name="amount" value="200">
            <label style=" font-size: 20" for="female">200ml</label>
            <input type="radio" id="250" name="amount" value="250">
            <label style=" font-size: 20" for="female">250ml</label>
            <input type="radio" id="300" name="amount" value="300">
            <label style=" font-size: 20" for="female">300ml</label>

        </form>
    </div>
    <div>
        <button type="button" class=" btn-primary buttonAdd" style="width: 30%;">Add</button>
    </div>
</div>