<!--<head>-->
<!--	<title>Sign-up</title>-->
<!--    <link rel="stylesheet"  href="../../Content/bootstrap_pages.css">-->
<!--    <link rel="stylesheet"  href="../../Content/style.css">-->
<!-- </head>-->
<!--<body>-->
<!--        <div class="form">-->
<!--            <img src="../../Content/images/logoDrinkIT.png" alt="DrinkLogo">-->
<!--            <h3>Personal information</h3>-->
<!--             -->
<!--            <div class="input-form">-->
<!--                <input type="number" placeholder="Enter your age" required>-->
<!--            </div>-->
<!--            <div class="input-form">-->
<!--                <input type="number" placeholder="Enter your weight" required>-->
<!--            </div>-->
<!--            <div >  -->
<!--                <form action="/action_page.php">-->
<!--                  <p>Please select your gender:</p>-->
<!--                  <input type="radio" id="male" name="gender" value="male">-->
<!--                  <label for="male">Male</label>-->
<!--                  <input type="radio" id="female" name="gender" value="female">-->
<!--                  <label for="female">Female</label>-->
<!--                  <input type="radio" id="other" name="gender" value="other">-->
<!--                   <label for="female">Other</label>-->
<!--                  </form>-->
<!--            </div>-->
<!--            -->
<!--            <div class="input-form-button">-->
<!--                <input type="submit" value="Submit" onclick="location.href = 'http://localhost:49333/';">-->
<!--            </div>-->
<!--        </div>-->
<!--</body>-->
