@using Microsoft.AspNet.Identity
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <img src="../../Content/images/logoDrinkIT.png" alt="logoDrinkIT" width="12%"></img>

        @if (Request.IsAuthenticated)
        {
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="#" class="nav-link px-2 link-secondary mar">Home</a>
                </li>
                <li>
                    <a href="http://localhost:49333/Drink" class="nav-link px-2 link-dark mar">Add drink</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-2 link-dark mar">Statistics</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-2 link-dark mar">Setting</a>
                </li>
            </ul>
        }
        @Html.Partial("_LoginPartial")
    </header>
</div>