.form{
position: absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
text-align: center;
}

.form h3{
margin: 15px;
padding: 0;
text-align: center;
font-size: 30px;
}

.form h5{
padding: 0;
text-align: center;
font-size: 14px;
}

.label{

  font-size: 25;
  text-align: center;
}

.buttonAdd{
  margin-top: 30px;
  border-radius: 20px;
  width: 50%;
  height: 50px;
  font-size: 17;
}

.container.elem {
  font-size: 0;
}

.seconddiv {
  width: 50%;
  vertical-align: top;
  display: inline-block;
  height: auto;
  text-align: center;
}
.firstdiv {
  vertical-align: top;
  display: inline-block;
  width: 50%;
  height: auto;
  text-align: center;
}

.mar{
  margin-right: 40px;
  font-size: 20;
}

.container.block {
  font-size: 0;
}

.firstblock {
  vertical-align:middle;
  display: inline-block;
  width: 30%;
  height: auto;
  text-align: left;
  margin-left: 10px;
  position:absolute;
}

.secondblock {
  width: 50%;
  vertical-align: top;
  display: inline-block;
  height: auto;
  text-align: right;
}

.block{
  margin-top: 20px;
}

.input-form{
text-align: center;
}

.input-form-button input{
padding: 10px;
width: 100%;
font-size: 20px;
background: none;
outline: none;
border: 1px solid #fff;
box-sizing: border-box;
}

.input-form input{
width: 100%;
margin: 20px 0 20px 0;
position: relative;
background-color: transparent;
color:black;
outline-style: none;
border-top: none;
border-left: none;
border-right: none;
border-bottom: solid black 1px;
padding: 3px 10px;
}

.input-form input[type="text"]:focus, .input-form input[type="password"]:focus {
border: 1px solid none;

}

.input-form-button input[type="submit"]
{
margin-top: 20px;
border:steelblue;
background: #406ef9;
transition: .3s;
border-radius: 15px;
}

.input-form-button input[type="submit"]:hover{
background: #375fd2;
}

.form a{
color: #4442db;
text-decoration: none;
}

.form a:hover{
color: #0fc3f5;
}

.form-check{
width: 39%;
text-align: left;
}

.form-forgot{
width: 100%;
text-align: right;
margin-top: -24px;
}

.box-set {
  width: 100%;
  float:left;
  margin-top: 50px;
}

.box {
  float:left;
  margin: 1.858736059%;
  width: 20%;
  height: 15%;

}

.drink-box {
  border-radius: 50px;
  display : block;
}
.drink-box > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.drink-box > input + div{ /* DIV STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
.drink-box > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
  border-radius: 50px;
  border: 1px solid #406ef9;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
/*waterdrop waves*/
.clip-svg {
  clip-path: url(#myClip);
}

.water-jar {
  height: 400px;
  width: 400px;
  top: 56%;
  left: 28.5%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #020438;
  overflow: hidden;
}

.water-jar .water-filling {
  position: absolute;
  left: -3%;
  top: 35px;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 64px;
}
.water-jar .water {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  background: #4d6de3;
}
.water-jar .water_wave {
  width: 200%;
  position: absolute;
  bottom: 100%;
}
.water-jar .water_wave_back {
  right: 0;
  fill: #c7eeff;
  -webkit-animation: wave-back 2.5s infinite linear;
  animation: wave-back 2.5s infinite linear;
}
.water-jar .water_wave_front {
  left: 0;
  fill: #4d6de3;
  margin-bottom: -1px;
  -webkit-animation: wave-front 1.7s infinite linear;
  animation: wave-front 1.7s infinite linear;
}

@-webkit-keyframes wave-front {
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@keyframes wave-front {
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}
@-webkit-keyframes wave-back {
  100% {
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
  }
}
@keyframes wave-back {
  100% {
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
  }
}
/*waterdrop waves*/
